<%= form_with(model: [@location, customer], local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container justify-content-center text-center">
      <div class="field form-group">
        <h5><%= form.label :Prénom %></h5>
        <p><%= form.text_area :first_name %></p>
      </div>
        <div class="field form-group">
        <h5><%= form.label :Nom %></h5>
        <p><%= form.text_area :last_name %></p>
      </div>
        <div class="field form-group">
        <h5><%= form.label :Téléphone %></h5>
        <p><%= form.text_area :phone %></p>
      </div>
      <div class="actions">
        <%= form.submit "Enregistrer", class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
