<p id="notice"><%= notice %></p>
<div class = "container main-container">
  <h1 class="display-6 py-2 text-center">Liste de vos établissements</h1>
  <div class="container">
    <table class="table table-striped table-bordered table-reponsive">
      <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Ville</th>
            <th scope="col">Pays</th>
            <th scope="col">Téléphone</th>
            <th colspan="3"></th
        </tr>
      </thead>

      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <td><%= location.name %></td>
            <td><%= location.address1 %> <%= location.address2 %></td>
            <td><%= location.postal_code %> <%= location.city %></td>
            <td><%= location.country %></td>
            <td><%= location.phone %></td>
            <td><%= link_to 'Modifier', edit_location_path(location), :class => "btn btn-info" %></td>
            <td><%= link_to 'Supprimer', location, method: :delete, data: { confirm: 'Êtes vous sûr ?' }, :class => "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <br>
    <div class="container text-center">
    <%= link_to 'Nouvel établissement',  new_location_path, :class => "btn btn-primary"%>
  </div>
</div>